* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  /* color: #cacbcc; */
}
img {
  max-width: 100%;
}
a {
  display: inline-block;
  text-decoration: unset;
}
input,
select {
  font-family: "Poppins", sans-serif;
}
/* ********************************** */
/* COLOR Codes */
/* ********************************** */
:root {
  --gray-color: #1a222d;
  --red-color: #ee2737;
  --light-color: #edeff3;
  --dark-blue: #012480;
  --light-blue: #42e3ff;
}
/* ************************************ */
/* General CSS */
/* ************************************ */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
}
.grid {
  display: grid;
}
.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-gap {
  gap: 20px;
}
span {
  color: var(--red-color);
  font-weight: 800;
}
.btn {
  background-color: var(--red-color);
  color: var(--light-color);
  padding: 14px 36px;
  border-radius: 5px;
}
/* ************************************ */
/* HEADER CSS */
/* ************************************ */
header {
  border-bottom: 1px solid #1a222d;
  padding: 20px 0px;
  position: relative;
}
.header-flex {
  padding: 0px 40px;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-items {
  color: var(--light-color);
}
.nav-btn {
  font-weight: 500;
}
.hero {
  height: 822px;
  width: 100%;
  color: var(--light-color);
  background-image: url(images/Rectangle\ 835.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: -95px;
}
.hero-content {
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}
.hero-title {
  max-width: 550px;
  font-size: 42px;
}
.hero-text {
  max-width: 700px;
  font-size: 20px;
  padding-bottom: 40px;
  font-weight: 300;
}
/* ************************************ */
/* SERVICE CSS */
/* ************************************ */
.services {
  padding: 100px 15px;
  text-align: center;
  border-bottom: 1px solid #ebeaea;
}
.service-title {
  color: var(--gray-color);
  font-size: 36px;
}
.service-text {
  margin: 0 auto;
  max-width: 900px;
  color: var(--gray-color);
  font-size: 18px;
}
.service-grid {
  margin: 40px auto auto auto;
  max-width: 1038px;
}
.service-card,
.service-card-1 {
  max-width: 507px;
  background-color: #f8f8f8;
  color: var(--gray-color);
  padding: 49px 45px 63px;
  border-radius: 8px;
  text-align: left;
  border: 1px solid #cacbcc;
}
.service-card-1 {
  background-color: var(--gray-color);
  color: var(--light-color);
  border: none;
}
.service-card-heading {
  font-size: 26px;
  font-weight: 500;
  margin: 10px 0px;
}
.service-btn {
  margin-top: 70px;
}
/* ************************************ */
/* ABOUT-US CSS */
/* ************************************ */
.about-us {
  padding: 90px 15px;
  position: relative;
}
.about-dots {
  max-width: 150px;
  width: 100%;
  position: absolute;
  top: 39%;
  left: 0%;
  opacity: 0.5;
}
.about-flex {
  justify-content: space-between;
}
.about-left-section {
  padding-top: 10px;
}
.about-line {
  padding-bottom: 7px;
}
.about-title {
  font-size: 24px;
  padding-bottom: 15px;
}
.about-heading {
  font-size: 36px;
  max-width: 450px;
  font-weight: 500;
  line-height: 1.4;
}
.about-content {
  padding: 20px 0 44px;
  max-width: 507px;
}
.about-btn {
  background-color: var(--gray-color);
}
/* ************************************ */
/* DESIGN CSS */
/* ************************************ */
.design {
  background-color: var(--gray-color);
  color: var(--light-color);
  padding: 104px 0px;
  position: relative;
}
.design-dots {
  max-width: 130px;
  width: 100%;
  position: absolute;
  top: 30%;
  right: 0%;
  opacity: 0.5;
}
.design-flex {
  align-items: center;
  justify-content: space-between;
}
.design-line {
  padding-bottom: 20px;
}
.design-heading {
  max-width: 290px;
}
.design-content {
  max-width: 415px;
}
/* ************************************ */
/* WORK CSS */
/* ************************************ */
.work {
  color: var(--gray-color);
  padding: 100px 0px;
  text-align: center;
}
.work-heading {
  font-size: 36px;
}
.work-title {
  margin: 10px auto;
  max-width: 750px;
  font-size: 18px;
}
.work-sec {
  background-color: #f8f8f8;
}
.work-sub-heading {
  font-size: 22px;
  margin: 15px 0px;
  font-weight: 500;
}
.work-content {
  margin: 0 auto;
  max-width: 300px;
  font-size: 14px;
  padding: 0px 10px 20px 10px;
}
.work-btn {
  margin-top: 50px;
}
/* ************************************ */
/* TESTIMONIALS CSS */
/* ************************************ */
.testimonials {
  padding: 120px 0px;
  background-color: #f8f8f8;
  text-align: center;
}
.testimonials-heading {
  font-size: 32px;
  font-weight: 600;
}
.testimonials-title {
  padding-top: 10px;
  font-size: 18px;
}
.testimonials-grid {
  padding-top: 123px;
}
.testimonials-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 33px 50px;
  text-align: left;
  position: relative;
}
.test-img {
  position: absolute;
  top: -20%;
  left: 5%;
}
.test-img-play {
  position: absolute;
  top: 10%;
  left: 23%;
}
.test-flex {
  display: flex;
  gap: 150px;
}
.test-sub-heading {
  font-size: 14px;
  font-weight: bold;
}
.test-title {
  color: var(--red-color);
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 20px;
}
.test-content {
  color: var(--gray-color);
  font-size: 15px;
  padding-top: 10px;
}
.test-content-img {
  padding-top: 20px;
}
.left-right-btn {
  padding-top: 74px;
}
.left-btn {
  padding-right: 30px;
}
/* ************************************ */
/* CONTACT CSS */
/* ************************************ */
.contact {
  padding: 120px 0px;
  background-color: var(--gray-color);
  background-image: url(images/contact/Rectangle\ 704.png);
  background-repeat: no-repeat;
  background-position: right;
}
.contact-flex {
  align-items: center;
  gap: 90px;
}
.contact-left-sec {
  max-width: 720px;
  background-color: #fff;
  padding: 55px 52px;
}
.form-title {
  max-width: 484px;
  background-color: #45a17f63;
  font-size: 15px;
  padding: 14px 45px;
  border-radius: 5px;
}
.contact-form-heading {
  padding-top: 28px;
  font-size: 32px;
  font-weight: 600;
}
.contact-form-content {
  padding-bottom: 26px;
}
label {
  display: block;
}
input {
  max-width: 300px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
select {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#additional-info {
  max-width: 650px;
  width: 100%;
  margin-bottom: 20px;
}
.form-btn {
  text-align: center;
  background-color: var(--gray-color);
  width: 100%;
}
.contact-right-sec {
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.contact-right-heading {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 20px;
}
.contact-right-info {
  font-size: 18px;
  padding-bottom: 10px;
}
.contact-right-num {
  font-size: 20px;
}
.footer {
  padding-top: 75px;
}
.footer-flex {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
}
.logos {
  display: flex;
  gap: 20px;
}
.copy-right-sec-2 {
  padding: 20px 0px;
}
